---
const language = { en: 'English', 'zh-tw': 'з№Ғй«”дёӯж–Ү' }
---

<ul class="flex gap-4">
  <li>
    <a href={`/`} class="text-brand hover:underline"> йҰ–й Ғ </a>
  </li>
  {
    Object.entries(language).map(([code, label]) => (
      <li>
        <a href={`/${code}/products`} class="text-brand hover:underline">
          {label}
        </a>
      </li>
      <li>
        <a href={`/${code}/dashboard`} class="text-brand hover:underline">
          {label} е„ҖйҢ¶жқҝ
        </a>
      </li>
    ))
  }
</ul>
