---
import '../styles/global.css'
import LanguagePicker from '../components/LanguagePicker.astro'
import Search from '../components/Search.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <LanguagePicker />
    <Search />
    <slot />
  </body>
</html>
