<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/zh/products">中文版</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/en/products">英文版</a>
      </li>
    </ul>
  </body>
</html>
